﻿
@{
    ViewBag.Title = "HtmlHelper";
}

<h2>HtmlHelper</h2>
<p>姓名: @Html.TextBox("username")</p>
<p>账号: @Html.TextBox("account")</p>
<p>密码: @Html.Password("password")</p>
<p>
    性别: @Html.RadioButton("Radio", " A") 男性
    @Html.RadioButton("Radio", " B") 女性
</p>
<p>
    爱好: @Html.CheckBox("Hobby 1", "A") 游泳
    @Html.CheckBox("Hobby 2", "B")阅读
    @Html.CheckBox("Hobby 3", "C")看电影
</p>
<p>自我介绍：@Html.TextArea("BLABLABLA")</p>

