﻿
@{
    ViewBag.Title = "Html";
}

<h2>Html</h2>
<p> 姓名: <input type="text" name="name" value="" /></p>
<p> 账号: <input type="text" name="name" value="" /></p>
<p> 密码: <input type="password" name="password" value="" /></p>
<p>
    性别: <input type="radio" name="gender" value="0" />男性
          <input type="radio" name="gender" value="1" />女性
</p>
<p>
    爱好: <input type="checkbox" name="h-1" value="0" />游泳 
          <input type="checkbox" name="h-2" value="1" />阅读 
          <input type="checkbox" name="h-2" value="1" />看电影 
</p>
<p> 自我介绍： <textarea></textarea></p>
