﻿@model _0505zz.ViewModels.BMIData
@{
    ViewBag.Title = "Index";
}

<h2>BMI计算</h2>
<form action="/BMI/Index" method="post">
    @Html.DisplayNameFor(m => m.Height)
    @Html.TextBoxFor(m => m.Height) 公分
    @Html.ValidationMessageFor(modelItem => @Model.Height)<br />

    @Html.DisplayNameFor(m => m.Weight)
    @Html.TextBoxFor(m => m.Weight)  公斤
    @Html.ValidationMessageFor(modelItem => @Model.Weight)<br />
    <p><input type="submit" name="name" value="送出" /> </p>
</form>

<p>计算结果:@Model.Result</p>
<p>等级:@Model.Level</p>


